
html {
  font-family: 'Advent Pro',sans-serif;
  font-size:22px;
  color:seashell;
  background-color: black;
  opacity:0.9;
  text-align: center;
}
header {
width: 100%;
height:69px;
position: fixed;
align-items:center;

z-index:1;
background-color: black;

}
header img {
  height: 50px;
  padding-left: 10px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}
nav {
text-align:right;
flex-grow: 1;
display:block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  font-size: 1.2em;
}
a {
  color: seashell;
  text-decoration: none;
}


.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main {
  padding-top: 70px;
  opacity:0.9;
  width: 1200px;
  margin:auto;
}
#logo {
  width: 80px;
  height: 80px;
}

body {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  text-align: center;
  display:block;
  margin: 0px;
  color:seashell;
  font-size: 22px;
}
#mission {
  height: 800px;
  background-image: url("resources/gal2.jpg");
  background-size:cover;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
}

#mission .content {
  color: white;
  margin: auto;
  width:100%;
}

h1 {
  display: block;
  padding: 10px;
  font-size: 3em;
  margin: 0px;
  font-family: 'Advent Pro', sans-serif;

}
h3 {
  margin: 0px;
  padding: 10px;
  display: block;
  color:white;
}

#teas {
  height: 1300px;
  width: 1000px;
  padding-top: 70px;
  margin: auto;
  flex-grow: 1;
  justify-content: center;
}
.item span {
  padding: 5px;
  text-align:center;
text-decoration: underline;
  display: block;
  font-size: 1.2em;
}
div {
  display: block;
}
.item {
  padding: 5px;
  }

.item img {
height: 300px;
width:400px;
margin: 10px;
display: flex-grow;
}


.location {
  display: flex;
  padding: 10px;
  justify-content: center;
  background-color: black;
  opacity: 1;
  margin: 5px 20px;
  flex-basis: 280px;
  flex-direction: column;
}
h3 {
  padding: 10px;
  margin: 0px;
  display: block;
}
p {
  display: block;
}
#locations {

  height: 300px;
  padding-top:70px;
  display: block;
  text-align:center;
}

#locations .flex-container {
  width:100%;
  margin:auto;
}
.flex-container .locations {
  margin: 0px 50px;
    padding-top:50px;

}
#contact {
  display: block;
  height:200px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
h5 {
  display: block;
  font-size: 1em;
  }
 footer {

   text-align: left;
   padding-left: 20px;
   display: block;
 }


 @media only screen and (max-width: 600px) {

  .about-text {
    font-size: 60px;
  }
  h3 {
    font-size: 90px;
  }
}
