
html {
  font-family: 'Advent Pro',sans-serif;
  font-size:22px;
  color:seashell;
  background-color: black;
  opacity:0.9;
  text-align: center;
}
header {
width: 100%;
height:69px;
position: fixed;
align-items:center;

z-index:1;
background-color: black;

}

header img {
  height: 50px;
  padding-left: 10px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}
nav {
text-align:right;
flex-grow: 1;
display:block;
}

nav span {
  display: inline-block;
  padding: 20px 20px;
  font-size: 1.2em;
}
a {
  color: seashell;
  text-decoration: none;
}
nav span a:hover {
  color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main {
  padding-top: 0px;
  opacity:0.9;
  width: 1200px;
  margin:auto;
}
#logo {
  width: 80px;
  height: 80px;
}

body {
  font-family: 'Advent Pro', sans-serif;
  background-color: black;
  text-align: center;
  display:block;
  margin: 0px;
  color:seashell;
  font-size: 22px;
}
#mission {
  height: 850px;
  background:
  linear-gradient(
     rgba(50, 50, 50, 0.45),
     rgba(50, 50, 50, 0.45)
   ),
   url(resources/mypicture.jpg) no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  padding-top: 70px;
  margin: 0px;

}

#mission .content {
  color: white;
  margin: auto;
  width:100%;
}

h1 {
  display: block;
  padding: 10px;
  font-size: 3em;
  margin: 0px;
  font-family: 'Advent Pro', sans-serif;

}
h3 {
  margin: 0px;
  padding: 10px;
  display: block;
  color:white;
}

#teas {
  height: 1300px;
  width: 1000px;
  padding-top: 70px;
  margin: auto;
  flex-grow: 1;
  justify-content: center;
}
.item span {
  padding-bottom: : 15px;
  text-align:center;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
}
div {
  display: block;
}
.item {
  width:100%;
  }

.item img {
height: 170px;
width:230px;
margin: 10px;
display: flex-grow;
}


#contacts {
  margin-top: 50px;
  height: 300px;
  padding-top:70px;
  display: block;
  text-align:center;
}

#contacts .flex-container {
  width:100%;
}
.flex-container .contacts {
    padding-top:50px;

}
#contact {
  display: block;
  height:200px;
}
.contact a:hover {
  color: white;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
h5 {
  display: block;
  font-size: 1em;
  }


 .item a:hover {
   color: white;

 }
#travelmate img, #sonar img {
  width:410px;
  height:420px;
}
.two-columns img {
  width: 300px;
  height: auto;
}

   @media only screen and (max-width: 767px) {

     .flex-container .contacts {
    width:100%;
    flex-wrap: wrap;}
    h5 {
      display:none;    }

      .flex-container .items {

        width:100%;
        flex-wrap: wrap;}

        .item img {
        height: auto;
        width:500px;
        margin: 10px;
        display: flex-grow;
        }
        html {
          font-size: 30px;
        }
        h3 {
          font-size: 90px;
        }
        p {
          font-size: 60px;
        }
        h2 {
          font-size: 100px;
        }
        .contact {
          font-size: 60px;
        }
        nav {
          visibility: hidden;
        }
        #mission {
          height: 1700px;
        }
        .item span {
          font-size: 50px;
        }
    }
